body{
	background-color: #A0522D;
	font-family: Verdana;
	background-repeat: repeat;
}
header{
	background-color: pink;
	border: 1px solid black;
	width: 75%;
	padding: 15px;
	text-align: center;
	margin: auto;
}
ul,li{display: inline;
	list-style-type: none;
	padding: 10px;
	color: black;
}
.list{background-color: yellow;}
h1{
	color: red;
	font-family: Arial;
}
h2{
	color: white;
	font-family: Courier New;
}
.S{
	background-color: yellow;
	width: 100%;
	height: 50px;
	text-align: center;
}
